# Core functionality - changes here should be rare!
/src/app.py                   @Ejej0
/src/backend/database.py      @Ejej0
/src/backend/routers/auth.py  @Ejej0

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Ejej0
